In [4]:
import pandas as pd
import numpy as np

In [5]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      49.0  37.2  31.0  35.5  33.0  34.8
     2      43.0  37.3  46.0  37.3  28.0  37.4
2014 1      33.0  36.3  36.0  39.4  19.0  36.3
     2      31.0  37.3  50.0  37.5  32.0  38.8

In [7]:
type(health_data)

pandas.core.frame.DataFrame

In [6]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      31.0  35.5
     2      46.0  37.3
2014 1      36.0  39.4
     2      50.0  37.5

In [12]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      49.0  31.0  33.0
2014 1      33.0  36.0  19.0

In [13]:
idx

In [15]:
help(pd.IndexSlice)

Help on _IndexSlice in module pandas.core.indexing object:

class _IndexSlice(builtins.object)
 |  Create an object to more easily perform multi-index slicing
 |
 |  See Also
 |  --------
 |  MultiIndex.remove_unused_levels : New MultiIndex with no unused levels.
 |
 |  Notes
 |  -----
 |  See :ref:`Defined Levels <advanced.shown_levels>`
 |  for further info on slicing a MultiIndex.
 |
 |  Examples
 |  --------
 |
 |  >>> midx = pd.MultiIndex.from_product([['A0','A1'], ['B0','B1','B2','B3']])
 |  >>> columns = ['foo', 'bar']
 |  >>> dfmi = pd.DataFrame(np.arange(16).reshape((len(midx), len(columns))),
 |                          index=midx, columns=columns)
 |
 |  Using the default slice command:
 |
 |  >>> dfmi.loc[(slice(None), slice('B0', 'B1')), :]
 |             foo  bar
 |      A0 B0    0    1
 |         B1    2    3
 |      A1 B0    8    9
 |         B1   10   11
 |
 |  Using the IndexSlice class for a more intuitive command:
 |
 |  >>> idx = pd.IndexSlice
 |  >>> dfmi.loc[idx[:, 'B0':'B1'], :]
 |             foo  bar
 |      A0 B0    0    1
 |         B1    2    3
 |      A1 B0    8    9
 |         B1   10   11
 |
 |  Methods defined here:
 |
 |  __getitem__(self, arg)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)